@tailwind base;
@tailwind components;
@tailwind utilities;

// Importing the font from the public folder ====== Poppins ======
@font-face {
  font-family: "poppins-extraBold";
  src: url("./fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-semi";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-medium";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "poppins-light";
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}

body {
  background-color: #000000;
  color: #fff;
}

.App_container {
  width: 100%;
  //  min-height: 100vh;
  //  height: 100vh;
}
.form_container {
  width: calc(100% - 100px);
  // height: 100%;
  margin: 40px auto 63px auto;
}

@media (max-width: 1536px) {
  .form_container {
    width: calc(100% - 120px);
  }
}
